.pictures {
    border: 5px solid white;
    background-color: white;
    display: flex;
    width: 500px;
    padding: 10px;
    margin: 5px;
    height: auto;
    border-radius: 10px;
    // border-image: 10px;
}

.text-content {
    border: 2px dotted #f7f7f7;
    // background-color: khaki;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    color: #f7f7f7;
    border-radius: 10px;
    width: 100%;
    line-height: 2;
    font-family: 'Chakra Petch', sans-serif;
}

.top {
    display: flex;
    // border: 5px solid black;
    // background-color: lavender;
    padding: 10px;
    margin: 10px;

}

.bottom {
    display: flex;
    // border: 5px solid orange;
    // background-color: orchid;
    padding: 10px;
    margin: 10px;

}