body {
    background-color: #393E46;
    border: 5px solid orangered;
}

header{
    border: 5px solid greenyellow;
    background-color: pink;
}

h1 {
    border: 5px solid purple;
    background-color: sandybrown;
}

nav {
    border: 5px solid blue;
    background-color: chartreuse;
}

footer {
    border: 5px solid red;
    background-color: royalblue;
}