.pictures {
    border: 5px solid white;
    background-color: white;
    display: flex;
    width: 500px;
    padding: 10px;
    margin: 5px;
    height: auto;
    border-radius: 10px;
}

.text-content {
    // border: 5px solid hotpink;
    // background-color: khaki;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

.top {
    display: flex;
    // border: 5px solid black;
    // background-color: lavender;
    padding: 10px;
    margin: 10px;

}

.bottom {
    display: flex;
    // border: 5px solid orange;
    // background-color: orchid;
    padding: 10px;
    margin: 10px;

}