header{
    display: flex;
    width: 100%;
    // border: 5px solid greenyellow;
    // background-color: pink;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    // border: 5px solid orange;
    // background-color: orangered;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 20px;
    margin: 10px;

}

.logo h1 {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // border: 5px solid lightskyblue;
    // background-color: maroon;
    color: #f7f7f7;
    margin: 10px;
}


nav {
    // border: 5px solid blue;
    // background-color: chartreuse;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    padding: 10px;
}

nav a {
    // border: 5px solid hotpink;
    // background-color: lightskyblue;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
    // justify-content: flex-end;
    // align-items: center;
    text-decoration: none;
    color: #f7f7f7;
    font-size: large;
    

}