header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid gray;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

        @media @mobile {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            height: 20rem;
        }
}

.logo {
    border: 2px solid @back-color;
    opacity: 0.8;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Chakra Petch', sans-serif;

        @media @mobile {
            width: 60%;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: @back-color;
            margin: 10px;
        }
}


nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    padding: 10px;

        @media @mobile {
            display: flex;
            width: 90%;
            justify-content: center;
            align-items: center;
        }

    a {
        border: 2px solid @back-color;
        opacity: 0.8;
        padding: 10px;
        margin: 5px;
        display: flex;
        flex-flow: row nowrap;
        text-decoration: none;
        color: @back-color;
        font-size: large;
        border-radius: 10px;
        font-family: 'Chakra Petch', sans-serif;
    
    }
    
}

nav a:hover {
    color: .colors(@back-color,@color)
}