header{
    display: flex;
    width: 100%;
    border: 5px solid greenyellow;
    background-color: pink;
    justify-content: space-around;
}

.logo {
    border: 5px solid orange;
    background-color: orangered;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    padding: 5px;
    margin: 5px;

}

.logo h1 {
    justify-content: center;
    align-items: center;
}


nav {
    border: 5px solid blue;
    background-color: chartreuse;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}

nav a {
    border: 5px solid hotpink;
    background-color: lightskyblue;
}